body{
    text-align: center;

}

#bulb{
    width: 200px;
    height: 200px;
}

button{
    height:40px ;
    width: 120px;
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: aquamarine;
    color: black;
}